<header class="header__section">
    <style>
        .router-link-active {
            font-weight: bold !important;
            border: #BA191A solid 2px;
            background-color: #ffffff !important;
            color: black !important;
        }

        .router-link-active:hover {
            font-weight: bold !important;
            border: #BA191A solid 2px;
            background-color: #ffffff !important;
            color: black !important;
        }

        .selected {
            background-color: #d5d5d5;
            color: black;
            margin: 0px 0px 0px 0px;
            padding: 10px 0px 10px 0px;
        }
    </style>
    <div class="main__header" [ngClass]="{'header__sticky': isSticky, 'sticky': isSticky}"
        style="background-color: #BA191A;padding: 0px;">


        <div class="container-fluid">
            <div class="position__relative d-flex justify-content-between align-items-center">
                <div class="offcanvas__header--menu__open"
                    [ngClass]="{'absolute-position': isOpen, 'fixed-position': !isOpen}">
                    <a class="offcanvas__header--menu__open--btn" (click)="toggleOffcanvas($event)" data-offcanvas=""
                        style="color:white">
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon offcanvas__header--menu__open--svg"
                            viewBox="0 0 512 512">
                            <path fill="currentColor" stroke="currentColor" stroke-linecap="round"
                                stroke-miterlimit="10" stroke-width="32" d="M80 160h352M80 256h352M80 352h352"></path>
                        </svg>
                        <span class="visually-hidden">Offcanvas Menu Open</span>
                    </a>
                </div>
                <div class="main__logo">
                    <h1 class="main__logo--title">
                        <a class="main__logo--link" [routerLink]="['/home']"
                            style="justify-content: center;display: flex;">
                            <img src="../../assets/img/logo/BLANCO.png" alt="logo-img">
                        </a>
                    </h1>
                </div>
                <div class="header__menu style3 d-none d-lg-block">
                    <nav class="header__menu--navigation">
                        <ul class="header__menu--wrapper d-flex">
                            <li class="header__menu--items">
                                <a class="header__menu--link" style="color: white;border-radius: 1rem;"
                                    [routerLink]="['/home']" routerLinkActive="true">
                                    INICIO
                                </a>
                            </li>
                            <li class="header__menu--items">
                                <a class="header__menu--link" style="color: white;border-radius: 1rem;"
                                    [routerLink]="['/nosotros']" routerLinkActive="true">
                                    NOSOTROS
                                </a>
                            </li>
                            <li class="header__menu--items">
                                <a class="header__menu--link" style="color: white;border-radius: 1rem;">
                                    CATEGORÍA
                                    <svg class="menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12"
                                        height="7.41" viewBox="0 0 12 7.41">
                                        <path d="M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z"
                                            transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7" />
                                    </svg>
                                </a>
                                <ul class="header__sub--menu" style="margin-top: 0px; padding: 0px; border-radius: 0px;
                                    background-color: #E8E6E4; display: block;">
                                    <li class="header__sub--menu__items" *ngFor="let menuItem of motoscycle">
                                        <a class="header__sub--menu__link" (click)="toggleMenuprueba(menuItem)"
                                            [ngClass]="{'selected': menuItem.isSelected}" [style]="menuItem.style"
                                            [routerLink]="menuItem.routerlink ? [menuItem.routerlink] : []">
                                            {{ menuItem.title }}
                                            <ng-container *ngIf="menuItem.subtitle && 
                                                menuItem.subtitle.length > 0">
                                                <svg ngif class="menu__arrowdown--icon"
                                                    xmlns="http://www.w3.org/2000/svg" width="12" height="7.41"
                                                    viewBox="0 0 12 7.41">
                                                    <path d="M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z"
                                                        transform="translate(-6 -8.59)" fill="currentColor"
                                                        opacity="0.7" />
                                                </svg>
                                            </ng-container>
                                        </a>
                                        <ul class="header__sub--menu" *ngIf="menuItem.isOpen" style="margin-top: 0px;padding: 0px;border-radius: 0px;background-color: #E8E6E4;
                                                    margin-left: 22rem;top: 0px;height: auto;display: block;">
                                            <li class="header__sub--menu__items"
                                                *ngFor="let subItem of menuItem.subtitle">
                                                <a class="header__sub--menu__link"
                                                    [ngClass]="{'selected': subItem.isSelected}"
                                                    (click)="toggleSubMenuprueba(subItem)" [style]="subItem.style"
                                                    [routerLink]="[subItem.routerlink]">
                                                    {{ subItem.subtitle }}
                                                    <ng-container *ngIf="subItem.subsubtitle2 && 
                                                        subItem.subsubtitle2.length > 0">
                                                        <svg ngif class="menu__arrowdown--icon"
                                                            xmlns="http://www.w3.org/2000/svg" width="12" height="7.41"
                                                            viewBox="0 0 12 7.41">
                                                            <path d="M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z"
                                                                transform="translate(-6 -8.59)" fill="currentColor"
                                                                opacity="0.7" />
                                                        </svg>
                                                    </ng-container>
                                                </a>
                                                <ng-container
                                                    *ngIf="subItem.subsubtitle2 && subItem.subsubtitle2.length > 0">
                                                    <ul class="header__sub--menu" *ngIf="subItem.isOpen"
                                                        style="margin-top: 0px;padding: 0px;border-radius: 0px;background-color: #E8E6E4;margin-left: 22rem;top: 0px;height: auto;display: block;">
                                                        <li class="header__sub--menu__items"
                                                            *ngFor="let subSubItem of subItem.subsubtitle2">
                                                            <a class="header__sub--menu__link"
                                                                [ngClass]="{'selected': subSubItem.isSelected}"
                                                                (click)="toggleSubsubMenuprueba(subSubItem)"
                                                                [style]="subSubItem.style"
                                                                [routerLink]="[subSubItem.routerlink]">
                                                                {{ subSubItem.subsubtitle }}
                                                                <ng-container
                                                                    *ngIf="subSubItem.thirdtitle &&  subSubItem.thirdtitle.length > 0">
                                                                    <svg ngif class="menu__arrowdown--icon"
                                                                        xmlns="http://www.w3.org/2000/svg" width="12"
                                                                        height="7.41" viewBox="0 0 12 7.41">
                                                                        <path
                                                                            d="M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z"
                                                                            transform="translate(-6 -8.59)"
                                                                            fill="currentColor" opacity="0.7" />
                                                                    </svg>
                                                                </ng-container>
                                                            </a>
                                                            <ul class="header__sub--menu" *ngIf="subSubItem.isOpen"
                                                                style="margin-top: 0px;padding: 0px;border-radius: 0px;background-color: #E8E6E4;margin-left: 22rem;top: 0px;height: auto;display: block;">
                                                                <li class="header__sub--menu__items"
                                                                    *ngFor="let thirdtitle of subSubItem.thirdtitle">
                                                                    <a class="header__sub--menu__link"
                                                                        [ngClass]="{'selected': thirdtitle.isSelected}"
                                                                        (click)="togglesubmenusegundo(thirdtitle)"
                                                                        [style]="thirdtitle.style">
                                                                        {{ thirdtitle.submenutitle}}

                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </ng-container>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class=" header__menu--items mega__menu--items">
                                <a class="header__menu--link" [routerLink]="['/cotizacion']"
                                    routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }"
                                    style="color: white;border-radius: 1rem;">
                                    COTIZACIÓN
                                </a>
                            </li>
                            <!--
                            <li class=" header__menu--items mega__menu--items">
                                <a class="header__menu--link" [routerLink]="['/homellantas']"
                                    routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }"
                                    style="color: white;border-radius: 1rem;">
                                    LLANTAS
                                </a>
                            </li>
                            <li class=" header__menu--items mega__menu--items">
                                <a class="header__menu--link" [routerLink]="['/homerepuesto/MOTOCICLETA']"
                                    routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }"
                                    style="color: white;border-radius: 1rem;">
                                    REPUESTOS
                                </a>
                            </li>
                            -->
                            <li class="header__menu--items mega__menu--items">
                                <a class="header__menu--link" [routerLink]="['/mayorista']"
                                    routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }"
                                    style="color: white;border-radius: 1rem;">
                                    REGISTRO MAYORISTA
                                </a>
                            </li>
                            <li class="header__menu--items mega__menu--items">
                                <a class="header__menu--link" [routerLink]="['/catalogo']"
                                    routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }"
                                    style="color: white;border-radius: 1rem;">
                                    CATÁLOGOS
                                </a>
                            </li>
                            <li class="header__menu--items mega__menu--items">
                                <a class="header__menu--link" [routerLink]="['/distribuidores']"
                                    routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }"
                                    style="color: white;border-radius: 1rem;">
                                    DISTRIBUIDORES
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header__account">
                    <ul class="header__account--wrapper d-flex align-items-center">
                        <li class="header__account--items d-none d-lg-block">
                            <a class="header__menu--link" [routerLink]="['/contactowsp']">
                                <p style="color:white;font-weight: 600;">Contacto WhatsApp</p>
                            </a>
                        </li>
                        <li class="header__account--items header__minicart--items" (click)="clicksearch()"
                            data-offcanvas="">
                            <a class="header__account--btn search__open--btn" style="color:white">
                                <svg class="product__items--action__btn--svg" xmlns="http://www.w3.org/2000/svg"
                                    width="22.51" height="20.443" viewBox="0 0 512 512">
                                    <path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z"
                                        fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32">
                                    </path>
                                    <path fill="none" stroke="currentColor" stroke-linecap="round"
                                        stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"></path>
                                </svg>
                                <span class="visually-hidden">Search</span>
                            </a>
                        </li>
                        <li class="header__account--items header__minicart--items">
                            <a class="header__account--btn" [routerLink]="['/login']">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class=" -user" style="color:white">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                            </a>
                        </li>
                        <li class="header__account--items header__minicart--items">
                            <a class="header__account--btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class=" -heart" style="color:white">
                                    <path
                                        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                    </path>
                                </svg>
                                <span class="items__count">3</span>
                            </a>
                        </li>
                        <li class="header__account--items header__minicart--items">
                            <a class="header__account--btn minicart__open--btn" (click)="abrirCarrito($event)"
                                data-offcanvas="">
                                <svg style="color:white" xmlns="http://www.w3.org/2000/svg" width="22.706"
                                    height="22.534" viewBox="0 0 14.706 13.534">
                                    <g transform="translate(0 0)">
                                        <g>
                                            <path data-name="Path 16787"
                                                d="M4.738,472.271h7.814a.434.434,0,0,0,.414-.328l1.723-6.316a.466.466,0,0,0-.071-.4.424.424,0,0,0-.344-.179H3.745L3.437,463.6a.435.435,0,0,0-.421-.353H.431a.451.451,0,0,0,0,.9h2.24c.054.257,1.474,6.946,1.555,7.33a1.36,1.36,0,0,0-.779,1.242,1.326,1.326,0,0,0,1.293,1.354h7.812a.452.452,0,0,0,0-.9H4.74a.451.451,0,0,1,0-.9Zm8.966-6.317-1.477,5.414H5.085l-1.149-5.414Z"
                                                transform="translate(0 -463.248)" fill="currentColor" />
                                            <path data-name="Path 16788"
                                                d="M5.5,478.8a1.294,1.294,0,1,0,1.293-1.353A1.325,1.325,0,0,0,5.5,478.8Zm1.293-.451a.452.452,0,1,1-.431.451A.442.442,0,0,1,6.793,478.352Z"
                                                transform="translate(-1.191 -466.622)" fill="currentColor" />
                                            <path data-name="Path 16789"
                                                d="M13.273,478.8a1.294,1.294,0,1,0,1.293-1.353A1.325,1.325,0,0,0,13.273,478.8Zm1.293-.451a.452.452,0,1,1-.431.451A.442.442,0,0,1,14.566,478.352Z"
                                                transform="translate(-2.875 -466.622)" fill="currentColor" />
                                        </g>
                                    </g>
                                </svg>
                                <span class="items__count">{{ListCarrito.length}}</span>
                            </a>
                        </li>
                        <li class="header__account--items header__minicart--items">
                            <a class="header__account--btn" [routerLink]="['/bancariatecnimotors']"
                                style="color: white !important;">
                                <div style="text-align: center;justify-items: center;">
                                    <div style="width: 35px;height: 35px;border-radius: 50%;background-color: white;
                                        align-items: center;justify-content: center;display: flex;">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24"
                                            height="24">
                                            <path
                                                d="M243.4 2.6l-224 96c-14 6-21.8 21-18.7 35.8S16.8 160 32 160l0 8c0 13.3 10.7 24 24 24l400 0c13.3 0 24-10.7 24-24l0-8c15.2 0 28.3-10.7 31.3-25.6s-4.8-29.9-18.7-35.8l-224-96c-8-3.4-17.2-3.4-25.2 0zM128 224l-64 0 0 196.3c-.6 .3-1.2 .7-1.8 1.1l-48 32c-11.7 7.8-17 22.4-12.9 35.9S17.9 512 32 512l448 0c14.1 0 26.5-9.2 30.6-22.7s-1.1-28.1-12.9-35.9l-48-32c-.6-.4-1.2-.7-1.8-1.1L448 224l-64 0 0 192-40 0 0-192-64 0 0 192-48 0 0-192-64 0 0 192-40 0 0-192zM256 64a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
                                        </svg>
                                    </div>
                                    <p>cuenta bancaria</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid" style="background: white;" [@toggleSearch]="searchState">
            <div class="position__relative d-flex justify-content-around align-items-center">
                <div class="header__search--widget d-lg-block">
                    <form class="d-flex header__search--form border-radius-5" action="#">
                        <div class="header__search--box">
                            <label for="txtbuscar"></label>
                            <input class="header__search--input" placeholder="Busca un articulo tecnimotors" type="text"
                                name="txtbuscar" id="txtbuscar">

                            <button class="header__search--button bg__primary text-white" aria-label="search button"
                                type="button">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M15.6952 14.4991L11.7663 10.5588C12.7765 9.4008 13.33 7.94381 13.33 6.42703C13.33 2.88322 10.34 0 6.66499 0C2.98997 0 0 2.88322 0 6.42703C0 9.97085 2.98997 12.8541 6.66499 12.8541C8.04464 12.8541 9.35938 12.4528 10.4834 11.6911L14.4422 15.6613C14.6076 15.827 14.8302 15.9184 15.0687 15.9184C15.2944 15.9184 15.5086 15.8354 15.6711 15.6845C16.0166 15.364 16.0276 14.8325 15.6952 14.4991ZM6.66499 1.67662C9.38141 1.67662 11.5913 3.8076 11.5913 6.42703C11.5913 9.04647 9.38141 11.1775 6.66499 11.1775C3.94857 11.1775 1.73869 9.04647 1.73869 6.42703C1.73869 3.8076 3.94857 1.67662 6.66499 1.67662Z"
                                        fill="currentColor" />
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas__header" [class.open]="isOpen">
        <div class="offcanvas__inner">
            <div class="offcanvas__logo">
                <a class="offcanvas__logo_link">
                    <img src="../../assets/img/logo/TECNIMOTORS_JES-2.png" alt="Grocee Logo" width="158" height="36">
                </a>
                <button class="offcanvas__close--btn" data-offcanvas="" (click)="closeOffcanvas()">close</button>
            </div>
            <nav class="offcanvas__menu">
                <ul class="offcanvas__menu_ul">
                    <li class="offcanvas__menu_li">
                        <a class="offcanvas__menu_item">Home</a>
                        <ul class="offcanvas__sub_menu">
                            <li class="offcanvas__sub_menu_li">
                                <a class="offcanvas__sub_menu_item">Home One</a>
                            </li>
                            <li class="offcanvas__sub_menu_li">
                                <a class="offcanvas__sub_menu_item">Home Two</a>
                            </li>
                            <li class="offcanvas__sub_menu_li">
                                <a class="offcanvas__sub_menu_item">Home Three</a>
                            </li>
                            <li class="offcanvas__sub_menu_li">
                                <a class="offcanvas__sub_menu_item">Home Four</a>
                            </li>
                            <li class="offcanvas__sub_menu_li">
                                <a class="offcanvas__sub_menu_item">Home Five</a>
                            </li>
                        </ul>
                        <button class="offcanvas__sub_menu_toggle"></button>
                    </li>
                    <li class="offcanvas__menu_li">
                        <a class="offcanvas__menu_item">Shop</a>
                        <ul class="offcanvas__sub_menu">
                            <li class="offcanvas__sub_menu_li">
                                <a class="offcanvas__sub_menu_item">Column One</a>
                                <ul class="offcanvas__sub_menu">
                                    <li class="offcanvas__sub_menu_li">
                                        <a class="offcanvas__sub_menu_item">
                                            Shop Left Sidebar
                                        </a>
                                    </li>
                                    <li class="offcanvas__sub_menu_li">
                                        <a class="offcanvas__sub_menu_item">
                                            Shop Right Sidebar
                                        </a>
                                    </li>
                                    <li class="offcanvas__sub_menu_li">
                                        <a class="offcanvas__sub_menu_item">Shop Grid</a>
                                    </li>
                                    <li class="offcanvas__sub_menu_li">
                                        <a class="offcanvas__sub_menu_item">Shop Grid List</a>
                                    </li>
                                    <li class="offcanvas__sub_menu_li">
                                        <a class="offcanvas__sub_menu_item">Shop List</a>
                                    </li>
                                </ul>
                                <button class="offcanvas__sub_menu_toggle"></button>
                            </li>
                            <li class="offcanvas__sub_menu_li">
                                <a class="offcanvas__sub_menu_item">Column Two</a>
                                <ul class="offcanvas__sub_menu">
                                    <li class="offcanvas__sub_menu_li">
                                        <a class="offcanvas__sub_menu_item">
                                            Product Details</a>
                                    </li>
                                    <li class="offcanvas__sub_menu_li">
                                        <a class="offcanvas__sub_menu_item">Video Product</a>
                                    </li>
                                    <li class="offcanvas__sub_menu_li">
                                        <a class="offcanvas__sub_menu_item">Variable Product</a>
                                    </li>
                                    <li class="offcanvas__sub_menu_li">
                                        <a class="offcanvas__sub_menu_item">Product Left Sidebar</a>
                                    </li>
                                    <li class="offcanvas__sub_menu_li">
                                        <a class="offcanvas__sub_menu_item">Product Gallery</a>
                                    </li>
                                </ul>
                                <button class="offcanvas__sub_menu_toggle"></button>
                            </li>
                            <li class="offcanvas__sub_menu_li">
                                <a class="offcanvas__sub_menu_item">Column Three</a>
                                <ul class="offcanvas__sub_menu">
                                    <li class="offcanvas__sub_menu_li">
                                        <a class="offcanvas__sub_menu_item">My
                                            Account</a>
                                    </li>
                                    <li class="offcanvas__sub_menu_li">
                                        <a class="offcanvas__sub_menu_item">My Account
                                            2</a>
                                    </li>
                                    <li class="offcanvas__sub_menu_li">
                                        <a class="offcanvas__sub_menu_item">404 Page</a>
                                    </li>
                                    <li class="offcanvas__sub_menu_li">
                                        <a class="offcanvas__sub_menu_item">Login
                                            Page</a>
                                    </li>
                                    <li class="offcanvas__sub_menu_li">
                                        <a class="offcanvas__sub_menu_item">Faq Page</a>
                                    </li>
                                </ul>
                                <button class="offcanvas__sub_menu_toggle"></button>
                            </li>
                            <li class="offcanvas__sub_menu_li">
                                <a class="offcanvas__sub_menu_item">Column Three</a>
                                <ul class="offcanvas__sub_menu">
                                    <li class="offcanvas__sub_menu_li">
                                        <a class="offcanvas__sub_menu_item">About Us</a>
                                    </li>
                                    <li class="offcanvas__sub_menu_li">
                                        <a class="offcanvas__sub_menu_item">Contact
                                            Us</a>
                                    </li>
                                    <li class="offcanvas__sub_menu_li">
                                        <a class="offcanvas__sub_menu_item">Portfolio</a>
                                    </li>
                                    <li class="offcanvas__sub_menu_li">
                                        <a class="offcanvas__sub_menu_item">Compare
                                            Pages</a>
                                    </li>
                                    <li class="offcanvas__sub_menu_li">
                                        <a class="offcanvas__sub_menu_item">Checkout
                                            page</a>
                                    </li>
                                </ul>
                                <button class="offcanvas__sub_menu_toggle"></button>
                            </li>
                        </ul>
                        <button class="offcanvas__sub_menu_toggle"></button>
                    </li>
                    <li class="offcanvas__menu_li">
                        <a class="offcanvas__menu_item">Blog</a>
                        <ul class="offcanvas__sub_menu">
                            <li class="offcanvas__sub_menu_li">
                                <a class="offcanvas__sub_menu_item">Blog
                                    Grid</a>
                            </li>
                            <li class="offcanvas__sub_menu_li">
                                <a class="offcanvas__sub_menu_item">Blog Details</a>
                            </li>
                            <li class="offcanvas__sub_menu_li">
                                <a class="offcanvas__sub_menu_item">Blog Left Sidebar</a>
                            </li>
                            <li class="offcanvas__sub_menu_li">
                                <a class="offcanvas__sub_menu_item">Blog Right
                                    Sidebar</a>
                            </li>
                        </ul>
                        <button class="offcanvas__sub_menu_toggle"></button>
                    </li>
                    <li class="offcanvas__menu_li">
                        <a class="offcanvas__menu_item">Pages</a>
                        <ul class="offcanvas__sub_menu">
                            <li class="offcanvas__sub_menu_li">
                                <a class="offcanvas__sub_menu_item">About Us</a>
                            </li>
                            <li class="offcanvas__sub_menu_li">
                                <a class="offcanvas__sub_menu_item">Contact Us</a>
                            </li>
                            <li class="offcanvas__sub_menu_li">
                                <a class="offcanvas__sub_menu_item">Cart
                                    Page</a>
                            </li>
                            <li class="offcanvas__sub_menu_li">
                                <a class="offcanvas__sub_menu_item">Portfolio Page</a>
                            </li>
                            <li class="offcanvas__sub_menu_li">
                                <a class="offcanvas__sub_menu_item">Wishlist Page</a>
                            </li>
                            <li class="offcanvas__sub_menu_li">
                                <a class="offcanvas__sub_menu_item">Login Page</a>
                            </li>
                            <li class="offcanvas__sub_menu_li">
                                <a class="offcanvas__sub_menu_item">Error
                                    Page</a>
                            </li>
                        </ul>
                        <button class="offcanvas__sub_menu_toggle"></button>
                    </li>
                    <li class="offcanvas__menu_li">
                        <a class="offcanvas__menu_item">About</a>
                    </li>
                    <li class="offcanvas__menu_li">
                        <a class="offcanvas__menu_item">Contact</a>
                    </li>
                </ul>
                <div class="offcanvas__account--items">
                    <a class="offcanvas__account--items__btn d-flex align-items-center">
                        <span class="offcanvas__account--items__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20.51" height="19.443" viewBox="0 0 512 512">
                                <path
                                    d="M344 144c-3.92 52.87-44 96-88 96s-84.15-43.12-88-96c-4-55 35-96 88-96s92 42 88 96z"
                                    fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="32"></path>
                                <path
                                    d="M256 304c-87 0-175.3 48-191.64 138.6C62.39 453.52 68.57 464 80 464h352c11.44 0 17.62-10.48 15.65-21.4C431.3 352 343 304 256 304z"
                                    fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path>
                            </svg>
                        </span>
                        <span class="offcanvas__account--items__label">Login / Register</span>
                    </a>
                </div>
                <div class="offcanvas__account--wrapper d-flex">
                    <div class="offcanvas__account--currency">
                        <a class="offcanvas__account--currency__menu d-flex align-items-center text-black"
                            href="javascript:void(0)">
                            <img src="assets/img/icon/usd-icon.webp" alt="currency">
                            <span>USD</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="9.797" height="6.05"
                                viewBox="0 0 9.797 6.05">
                                <path d="M14.646,8.59,10.9,12.329,7.151,8.59,6,9.741l4.9,4.9,4.9-4.9Z"
                                    transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7"></path>
                            </svg>
                        </a>
                        <div class="offcanvas__account--currency__submenu">
                            <ul>
                                <li class="currency__items">
                                    <a class="currency__text">CAD</a>
                                </li>
                                <li class="currency__items">
                                    <a class="currency__text">CNY</a>
                                </li>
                                <li class="currency__items">
                                    <a class="currency__text">EUR</a>
                                </li>
                                <li class="currency__items">
                                    <a class="currency__text">GBP</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="language__currency--list">
                        <a class="offcanvas__language--switcher" href="javascript:void(0)">
                            <span>English</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="9.797" height="6.05"
                                viewBox="0 0 9.797 6.05">
                                <path d="M14.646,8.59,10.9,12.329,7.151,8.59,6,9.741l4.9,4.9,4.9-4.9Z"
                                    transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7"></path>
                            </svg>
                        </a>
                        <div class="offcanvas__dropdown--language">
                            <ul>
                                <li class="language__items"><a class="language__text">France</a></li>
                                <li class="language__items"><a class="language__text">Russia</a></li>
                                <li class="language__items"><a class="language__text">Spanish</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <!-- Start offCanvas minicart -->
    <div class="offCanvas__minicart" [ngClass]="{'active': isOpenCarShop}" data-bs-backdrop="static"
        (click)="preventClose($event)" style="padding-bottom: 0px;">
        <div class="minicart__header">
            <div style="background-color: #b1b1b1;text-align: center;color: black;
                font-weight: bold;padding: 8px 0px;margin: -15px -15px 0px -15px;">
                <h3 style="font-size: 18px;"> Requerimiento de Cotización </h3>
            </div>
            <p style="font-size: 11px;font-weight: bold;line-height: initial;
                padding: 10px 0px;">
                Para añadir múltiples ítems a su cotización, por favor rellene
                los campos de cantidad y después de click "COTIZAR"</p>
        </div>
        <div style="background-color: #b1b1b1;text-align: center;margin-left: -15px;
            margin-right: -15px;color: black;font-weight: bold;">
            <label for="inlineforn1">
                Listado de Producto
            </label>
            <input type="text" id="inlineforn1" hidden>
        </div>
        <div class="minicart__product">
            <div class="minicart__product--items d-flex" *ngFor="let item of ListCarrito, let i = index">
                <div class="minicart__thumb">
                    <img src="assets/img/product/small-product/product1.webp" style="width: 12rem;" alt="prduct-img">
                </div>
                <div class="minicart__text">
                    <label class="textopuntos" style="font-size: 14px;margin: 0px;" [htmlFor]="'inlinea' + (i+1)">
                        <b>{{item.marcaoriginal}}</b>
                    </label>
                    <input type="text" hidden [id]="'inlinea' + (i+1)">
                    <label class="textopuntos" style="font-size: 14px;margin: 0px;" placement="top"
                        [ngbPopover]="item.categoria" *ngIf="item.categoria!" [htmlFor]="'inlineb' + (i+1)">
                        <b>Categoria: </b> {{item.categoria}}
                    </label>
                    <input type="text" hidden [id]="'inlineb' + (i+1)">
                    <label class="textopuntos" style="font-size: 14px;margin: 0px;" placement="top"
                        [ngbPopover]="item.marca" *ngIf="item.marca!" [htmlFor]="'inlinec' + (i+1)">
                        <b>Marca: </b> {{item.marca}}
                    </label>
                    <input type="text" hidden [id]="'inlinec' + (i+1)">
                    <span class="color__variant" style="margin: 0px;">
                        <b style="font-size: 14px;">Cantidad </b>
                    </span>
                    <div class="minicart__text--footer d-flex align-items-center">
                        <div class="quantity__box minicart__quantity">
                            <button type="button" class="quantity__value decrease" aria-label="quantity value"
                                (click)="disminuirCantidad(item)">-</button>

                            <label [htmlFor]="'inlined' + (i + 1)"></label>
                            <input type="number" class="quantity__number" [value]="item.cantidad" data-counter readonly
                                [id]="'inlined' + (i + 1 )" />

                            <button type="button" class="quantity__value increase" aria-label="quantity value"
                                (click)="aumentarCantidad(item)">+</button>
                        </div>
                        <button class="minicart__product--remove" type="button"
                            (click)="eliminarProducto(item)">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="minicart__conditions text-center" style="padding: 5px 0px;">
            <input class="minicart__conditions--input" id="accept" type="checkbox" [(ngModel)]="txtacuerdotrue"
                (change)="AnclarDeAcuerdo()">
            <label class="minicart__conditions--label" for="accept" style="font-size: 12px;">
                Estoy de acuerdo con los producto Seleccionados
            </label>
        </div>
        <div class="minicart__button d-flex justify-content-center" [routerLink]="'/cotizacion'">
            <button style="color: white;width: 15rem;text-align: center;border-radius: 5px;
                background: var(--secondary-color);border: var(--secondary-color);">
                Cotizar
            </button>
        </div>
    </div>

    <!-- End offCanvas minicart -->
</header>