.classimgvacio {
  width: 348px;
  height: 283px;
  border: 1px solid;
  margin-top: 7px;
}
.classimglleno {
  width: 348px;
  height: 283px;
  border: 1px solid;
  margin-top: 7px;
}
.wishlist-active {
  background-color: red; /* Cambia el color de fondo */
  color: white; /* Cambia el color del texto */
}
