.classimgvacio {
    width: 348px;
    height: 283px;
    border: 1px solid;
    margin-top: 7px;
  }
  .classimglleno {
    width: 348px;
    height: 283px;
    border: 1px solid;
    margin-top: 7px;
  }
  .wishlist-active {
    background-color: red; /* Cambia el color de fondo */
    color: white; /* Cambia el color del texto */
  }
  .disabled {
    pointer-events: none; /* Evita que se pueda hacer clic */
    opacity: 0.5; /* Cambia la opacidad para indicar que está deshabilitado */
  }
  
  .carritoList-active {
    background-color: black; /* Cambia el color de fondo */
    color: white; /* Cambia el color del texto */
  }