<!-- Start preloader -->
<div id="preloader" #preloader>
    <div id="ctn-preloader" class="ctn-preloader">
        <div class="animation-preloader">
            <div class="spinner"></div>
            <div class="txt-loading">
                <span data-text-preloader="C" class="letters-loading">
                    C
                </span>

                <span data-text-preloader="A" class="letters-loading">
                    A
                </span>

                <span data-text-preloader="R" class="letters-loading">
                    R
                </span>

                <span data-text-preloader="G" class="letters-loading">
                    G
                </span>

                <span data-text-preloader="A" class="letters-loading">
                    A
                </span>

                <span data-text-preloader="N" class="letters-loading">
                    N
                </span>

                <span data-text-preloader="D" class="letters-loading">
                    D
                </span>

                <span data-text-preloader="O" class="letters-loading">
                    O
                </span>
            </div>
        </div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
</div>
<!-- End preloader -->
<app-header></app-header>

<main class="main__content_wrapper">

    <!-- Start breadcrumb section -->
    <section class="breadcrumb__section breadcrumb__bg">
        <div class="container">
            <div class="row row-cols-1">
                <div class="col">
                    <div class="breadcrumb__content text-center">
                        <ul class="breadcrumb__content--menu d-flex justify-content-center">
                            <li class="breadcrumb__content--menu__items">
                                <a [routerLink]="['/home']">Pagina Principal</a>
                            </li>
                            <li class="breadcrumb__content--menu__items">
                                <span>Lista de Favorito</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End breadcrumb section -->

    <!-- cart section start -->
    <section class="cart__section section--padding">
        <div class="container">
            <div class="cart__section--inner">
                <form action="#">
                    <h2 class="cart__title mb-30">Lista de Favorito</h2>
                    <div class="cart__table">
                        <table class="cart__table--inner">
                            <thead class="cart__table--header">
                                <tr class="cart__table--header__items">
                                    <th class="cart__table--header__list">Producto</th>
                                    <th class="cart__table--header__list text-center">Medida</th>
                                    <th class="cart__table--header__list text-right">Descripción</th>
                                    <th class="cart__table--header__list text-right">Agregar a la Cotización</th>
                                </tr>
                            </thead>
                            <tbody class="cart__table--body" *ngFor="let item of wishlistItems">
                                <tr class="cart__table--body__items">
                                    <td class="cart__table--body__list">
                                        <div class="cart__product d-flex align-items-center">
                                            <button class="cart__remove--btn" aria-label="search button" type="button"
                                                (click)="eliminarwishlist(item)">
                                                <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 24 24" width="16px" height="16px">
                                                    <path
                                                        d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z" />
                                                </svg>
                                            </button>
                                            <div class="cart__thumbnail">
                                                <a>
                                                    <img class="border-radius-5"
                                                        [src]="item.pathimagen === '' ? srcimg : txtlink + item.pathimagen"
                                                        alt="cart-product">
                                                </a>
                                            </div>
                                            <div class="cart__content">
                                                <h3 class="cart__content--title h4">
                                                    <a>{{item.marcaoriginal}}</a>
                                                </h3>
                                                <span class="cart__content--variant">Categoria:
                                                    {{item.categoria}}</span>
                                                <span class="cart__content--variant">Unidad: {{item.unidad}}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__table--body__list text-center">
                                        <div class="cart__content">
                                            <h3 class="cart__content--title h4">
                                                <a>{{item.medida}}</a>
                                            </h3>
                                            <span class="cart__content--variant">
                                                Cantidad: {{item.cantidad}}
                                            </span>
                                        </div>
                                    </td>
                                    <td class="cart__table--body__list text-right">
                                        <span class="cart__price">{{item.descripcion}}</span>
                                    </td>
                                    <td class="cart__table--body__list text-right">
                                        <button class="wishlist__cart--btn primary__btn" type="submit"
                                            style="margin: 0px;border-radius: 11px;" (click)="AgregarCarrito(item)">
                                            Agregar A la Cotización
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="continue__shopping d-flex justify-content-between">
                            <a class="continue__shopping--link" href="index.html">Continue shopping</a>
                            <a class="continue__shopping--clear" href="shop.html">View All Products</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- cart section end -->



    <button id="scroll__top" [class.active]="isVisible" (click)="subir()">
        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
                d="M112 244l144-144 144 144M256 120v292"></path>
        </svg>
    </button>
</main>

<app-footer></app-footer>