<!-- Start preloader -->
<div id="preloader" #preloader>
    <div id="ctn-preloader" class="ctn-preloader">
        <div class="animation-preloader">
            <div class="spinner"></div>
            <div class="txt-loading">
                <span data-text-preloader="C" class="letters-loading">
                    C
                </span>

                <span data-text-preloader="A" class="letters-loading">
                    A
                </span>

                <span data-text-preloader="R" class="letters-loading">
                    R
                </span>

                <span data-text-preloader="G" class="letters-loading">
                    G
                </span>

                <span data-text-preloader="A" class="letters-loading">
                    A
                </span>

                <span data-text-preloader="N" class="letters-loading">
                    N
                </span>

                <span data-text-preloader="D" class="letters-loading">
                    D
                </span>

                <span data-text-preloader="O" class="letters-loading">
                    O
                </span>
            </div>
        </div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
</div>
<!-- End preloader -->
<app-header></app-header>
<main class="main__content_wrapper">

    <!-- Start breadcrumb section -->
    <section class="breadcrumb__section breadcrumb__bg">
        <div class="container">
            <div class="row row-cols-1">
                <div class="col">
                    <div class="breadcrumb__content text-center">
                        <ul class="breadcrumb__content--menu d-flex justify-content-center">
                            <li class="breadcrumb__content--menu__items"><a href="index.html">Home</a></li>
                            <li class="breadcrumb__content--menu__items"><span>Product</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End breadcrumb section -->

    <!-- Start product details section -->
    <section class="product__details--section section--padding">
        <div class="container">
            <div class="row row-cols-lg-2 row-cols-md-2">
                <div class="col">
                    <div class="product__details--media">
                        <div class="single__product--preview  swiper mb-25 swiperfiel">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide swiperdetail">
                                    <div class="product__media--preview__items">
                                        <a class="product__media--preview__items--link glightbox"
                                            data-gallery="product-media-preview">
                                            <img class="product__media--preview__items--img"
                                                style="width: 44% !important;"
                                                src="../../../assets/img/Imagen/{{Dtlcodigoimg}}/{{Dtlcodigoimg}}_1.jpg"
                                                alt="product-media-img">
                                        </a>
                                        <div class="product__media--view__icon">
                                            <a class="product__media--view__icon--link glightbox"
                                                data-gallery="product-media-zoom">
                                                <svg class="product__items--action__btn--svg"
                                                    xmlns="http://www.w3.org/2000/svg" width="22.51" height="22.443"
                                                    viewBox="0 0 512 512">
                                                    <path
                                                        d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z"
                                                        fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                        stroke-width="32"></path>
                                                    <path fill="none" stroke="currentColor" stroke-linecap="round"
                                                        stroke-miterlimit="10" stroke-width="32"
                                                        d="M338.29 338.29L448 448"></path>
                                                </svg>
                                                <span class="visually-hidden">product view</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide swiperdetail">
                                    <div class="product__media--preview__items">
                                        <a class="product__media--preview__items--link glightbox"
                                            data-gallery="product-media-preview">
                                            <img class="product__media--preview__items--img"
                                                style="width: 44% !important;"
                                                src="../../../assets/img/Imagen/{{Dtlcodigoimg}}/{{Dtlcodigoimg}}_2.jpg"
                                                alt="product-media-img"></a>
                                        <div class="product__media--view__icon">
                                            <a class="product__media--view__icon--link glightbox"
                                                data-gallery="product-media-zoom">
                                                <svg class="product__items--action__btn--svg"
                                                    xmlns="http://www.w3.org/2000/svg" width="22.51" height="22.443"
                                                    viewBox="0 0 512 512">
                                                    <path
                                                        d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z"
                                                        fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                        stroke-width="32"></path>
                                                    <path fill="none" stroke="currentColor" stroke-linecap="round"
                                                        stroke-miterlimit="10" stroke-width="32"
                                                        d="M338.29 338.29L448 448"></path>
                                                </svg>
                                                <span class="visually-hidden">product view</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide swiperdetail">
                                    <div class="product__media--preview__items">
                                        <a class="product__media--preview__items--link glightbox"
                                            data-gallery="product-media-preview">
                                            <img class="product__media--preview__items--img"
                                                style="width: 44% !important;"
                                                src="../../../assets/img/Imagen/{{Dtlcodigoimg}}/{{Dtlcodigoimg}}_3.jpg"
                                                alt="product-media-img">
                                        </a>
                                        <div class="product__media--view__icon">
                                            <a class="product__media--view__icon--link glightbox"
                                                data-gallery="product-media-zoom">
                                                <svg class="product__items--action__btn--svg"
                                                    xmlns="http://www.w3.org/2000/svg" width="22.51" height="22.443"
                                                    viewBox="0 0 512 512">
                                                    <path
                                                        d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z"
                                                        fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                        stroke-width="32"></path>
                                                    <path fill="none" stroke="currentColor" stroke-linecap="round"
                                                        stroke-miterlimit="10" stroke-width="32"
                                                        d="M338.29 338.29L448 448"></path>
                                                </svg>
                                                <span class="visually-hidden">product view</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination swiperpagina"></div>
                        </div>


                        <div class="single__product--nav swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="product__media--nav__items">
                                        <img class="product__media--nav__items--img"
                                            src="../../../assets/img/Imagen/{{Dtlcodigoimg}}/{{Dtlcodigoimg}}_1.jpg"
                                            alt="product-nav-img">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product__media--nav__items">
                                        <img class="product__media--nav__items--img"
                                            src="../../../assets/img/Imagen/{{Dtlcodigoimg}}/{{Dtlcodigoimg}}_2.jpg"
                                            alt="product-nav-img">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product__media--nav__items">
                                        <img class="product__media--nav__items--img"
                                            src="../../../assets/img/Imagen/{{Dtlcodigoimg}}/{{Dtlcodigoimg}}_3.jpg"
                                            alt="product-nav-img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="product__details--info">
                        <form action="#">
                            <h2 class="product__details--info__title mb-15">
                                {{Dtlcodigoimg}} - {{Dtldescripcion}}
                            </h2>
                            <ul class="rating product__card--rating mb-15 d-flex">
                                <li class="rating__list">
                                    <span class="rating__icon">
                                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M6.08398 0.921875L4.56055 4.03906L1.11523 4.53125C0.505859 4.625 0.271484 5.375 0.716797 5.82031L3.17773 8.23438L2.5918 11.6328C2.49805 12.2422 3.1543 12.7109 3.69336 12.4297L6.76367 10.8125L9.81055 12.4297C10.3496 12.7109 11.0059 12.2422 10.9121 11.6328L10.3262 8.23438L12.7871 5.82031C13.2324 5.375 12.998 4.625 12.3887 4.53125L8.9668 4.03906L7.41992 0.921875C7.16211 0.382812 6.36523 0.359375 6.08398 0.921875Z"
                                                fill="currentColor" />
                                        </svg>
                                    </span>
                                </li>
                                <li class="rating__list">
                                    <span class="rating__icon">
                                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M6.08398 0.921875L4.56055 4.03906L1.11523 4.53125C0.505859 4.625 0.271484 5.375 0.716797 5.82031L3.17773 8.23438L2.5918 11.6328C2.49805 12.2422 3.1543 12.7109 3.69336 12.4297L6.76367 10.8125L9.81055 12.4297C10.3496 12.7109 11.0059 12.2422 10.9121 11.6328L10.3262 8.23438L12.7871 5.82031C13.2324 5.375 12.998 4.625 12.3887 4.53125L8.9668 4.03906L7.41992 0.921875C7.16211 0.382812 6.36523 0.359375 6.08398 0.921875Z"
                                                fill="currentColor" />
                                        </svg>
                                    </span>
                                </li>
                                <li class="rating__list">
                                    <span class="rating__icon">
                                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M6.08398 0.921875L4.56055 4.03906L1.11523 4.53125C0.505859 4.625 0.271484 5.375 0.716797 5.82031L3.17773 8.23438L2.5918 11.6328C2.49805 12.2422 3.1543 12.7109 3.69336 12.4297L6.76367 10.8125L9.81055 12.4297C10.3496 12.7109 11.0059 12.2422 10.9121 11.6328L10.3262 8.23438L12.7871 5.82031C13.2324 5.375 12.998 4.625 12.3887 4.53125L8.9668 4.03906L7.41992 0.921875C7.16211 0.382812 6.36523 0.359375 6.08398 0.921875Z"
                                                fill="currentColor" />
                                        </svg>
                                    </span>
                                </li>
                                <li class="rating__list">
                                    <span class="rating__icon">
                                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M12.4141 4.53125L8.99219 4.03906L7.44531 0.921875C7.1875 0.382812 6.39062 0.359375 6.10938 0.921875L4.58594 4.03906L1.14062 4.53125C0.53125 4.625 0.296875 5.375 0.742188 5.82031L3.20312 8.23438L2.61719 11.6328C2.52344 12.2422 3.17969 12.7109 3.71875 12.4297L6.78906 10.8125L9.83594 12.4297C10.375 12.7109 11.0312 12.2422 10.9375 11.6328L10.3516 8.23438L12.8125 5.82031C13.2578 5.375 13.0234 4.625 12.4141 4.53125ZM9.53125 7.95312L10.1875 11.75L6.78906 9.96875L3.36719 11.75L4.02344 7.95312L1.25781 5.28125L5.07812 4.71875L6.78906 1.25L8.47656 4.71875L12.2969 5.28125L9.53125 7.95312Z"
                                                fill="currentColor" />
                                        </svg>
                                    </span>
                                </li>
                                <li class="rating__list">
                                    <span class="rating__icon">
                                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M12.4141 4.53125L8.99219 4.03906L7.44531 0.921875C7.1875 0.382812 6.39062 0.359375 6.10938 0.921875L4.58594 4.03906L1.14062 4.53125C0.53125 4.625 0.296875 5.375 0.742188 5.82031L3.20312 8.23438L2.61719 11.6328C2.52344 12.2422 3.17969 12.7109 3.71875 12.4297L6.78906 10.8125L9.83594 12.4297C10.375 12.7109 11.0312 12.2422 10.9375 11.6328L10.3516 8.23438L12.8125 5.82031C13.2578 5.375 13.0234 4.625 12.4141 4.53125ZM9.53125 7.95312L10.1875 11.75L6.78906 9.96875L3.36719 11.75L4.02344 7.95312L1.25781 5.28125L5.07812 4.71875L6.78906 1.25L8.47656 4.71875L12.2969 5.28125L9.53125 7.95312Z"
                                                fill="currentColor" />
                                        </svg>
                                    </span>
                                </li>
                                <li>
                                    <span class="rating__review--text">(126) Review</span>
                                </li>
                            </ul>
                            <p class="product__details--info__desc negritaP">
                                Motor:
                            </p>
                            <p class="product__details--info__desc negritaP">
                                Transmisión:
                            </p>
                            <p class="product__details--info__desc negritaP">
                                Dimensiones mm:
                            </p>
                            <p class="product__details--info__desc negritaP">
                                Llanta delantera / posterior:
                            </p>
                            <p class="product__details--info__desc negritaP">
                                Arranque:
                            </p>
                            <p class="product__details--info__desc negritaP">
                                Freno delantero/posterior:
                            </p>
                            <p class="product__details--info__desc negritaP">
                                Faro posterior/principal:
                            </p>
                            <br>
                            <div class="product__variant">
                                <div class="product__variant--list quantity d-flex align-items-center mb-20">
                                    <div class="quantity__box">
                                        <button type="button"
                                            class="quantity__value quickview__value--quantity decrease"
                                            aria-label="quantity value" value="Decrease Value">-</button>
                                        <label>
                                            <input type="number" class="quantity__number quickview__value--number"
                                                value="1" data-counter />
                                        </label>
                                        <button type="button"
                                            class="quantity__value quickview__value--quantity increase"
                                            aria-label="quantity value" value="Increase Value">+
                                        </button>
                                    </div>
                                    <button class="primary__btn quickview__cart--btn" type="submit">
                                        Agregar al carrito
                                    </button>
                                </div>
                                <div class="product__variant--list mb-15">
                                    <a class="variant__wishlist--icon mb-15" title="Add to wishlist">
                                        <svg class="quickview__variant--wishlist__svg"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path
                                                d="M352.92 80C288 80 256 144 256 144s-32-64-96.92-64c-52.76 0-94.54 44.14-95.08 96.81-1.1 109.33 86.73 187.08 183 252.42a16 16 0 0018 0c96.26-65.34 184.09-143.09 183-252.42-.54-52.67-42.32-96.81-95.08-96.81z"
                                                fill="none" stroke="currentColor" stroke-linecap="round"
                                                stroke-linejoin="round" stroke-width="32" />
                                        </svg>
                                        Agregar al Favorito
                                    </a>
                                </div>
                                <div class="product__variant--list mb-15">
                                    <div class="product__details--info__meta">
                                        <p class="product__details--info__meta--list">
                                            <strong>
                                                Cocada:
                                            </strong>
                                            <span>
                                                {{Dtlcocada}}
                                            </span>
                                        </p>
                                        <p class="product__details--info__meta--list">
                                            <strong>
                                                Ancho:
                                            </strong>
                                            <span>
                                                {{Dtlancho}}
                                            </span>
                                        </p>
                                        <p class="product__details--info__meta--list">
                                            <strong>
                                                Perfil
                                            </strong>
                                            <span>
                                                {{Dtlperfil}}
                                            </span>
                                        </p>
                                        <p class="product__details--info__meta--list">
                                            <strong>
                                                Aro
                                            </strong>
                                            <span>
                                                {{Dtlaro}}
                                            </span>
                                        </p>
                                        <p class="product__details--info__meta--list">
                                            <strong>
                                                Tipo Uso
                                            </strong>
                                            <span>
                                                {{Dtltipouso}}
                                            </span>
                                        </p>
                                        <p class="product__details--info__meta--list">
                                            <strong>
                                                Estado
                                            </strong>
                                            <span>
                                                {{Dtlestado == '1'? 'Activo':'Sin Stock'}}
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>