/* Cambia el color de fondo del contenedor de selección */
.ng-select .ng-select-container {
  background-color: white !important;
  cursor: default;
  display: flex;
  outline: none;
  overflow: hidden;
  width: 100%;
  height: 4rem;
  padding-top: 1rem;
  color: black; /* Color del texto en el contenedor */
}

/* Cambia el color del texto del placeholder */
.ng-select .ng-select-container .ng-placeholder {
  color: #999; /* Color del placeholder */
  text-align: center;
}
.ng-select .ng-select-container .ng-value-container {
  padding-left: 10px;
}

.ng-select {
  /*width: 200px;*/
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 5px 0px 0rem;
}

.ng-select .ng-dropdown-panel {
  border: 0px solid #ccc; /* Cambia el color del borde del panel */
  border-radius: 4px; /* Ajusta el radio del borde */
  background-color: white !important; /* Color de fondo blanco */
  opacity: 1 !important;
  padding-left: 10px !important;
  border-style: groove !important;
  margin-top: 5px !important;
}
.ng-select .input {
  border: 0px solid #ccc; /* Cambia el color del borde del panel */
  border-radius: 4px; /* Ajusta el radio del borde */
  background-color: white !important; /* Color de fondo blanco */
  opacity: 1 !important;
  padding-left: 10px !important;
  border-style: groove !important;
  margin-top: 5px !important;
  position: static !important;
}

.ng-option {
  background-color: white; /* Color de fondo blanco para cada opción */
  color: black; /* Color del texto de cada opción */
  padding: 10px; /* Espaciado interno de cada opción */
}

.ng-option:hover {
  background-color: #f0f0f0; /* Color de fondo al pasar el mouse */
}

.search__filter--select__field {
  -webkit-appearance: auto;
  border: 2px solid transparent;
  transition: border-color 0.5s ease, box-shadow 0.5s ease;
}

.loading {
  border-color: red;
  box-shadow: 0 0 10px red;
}

.success {
  border-color: green;
  box-shadow: 0 0 10px green;
}

.hidden {
  display: none;
}
.ng-dropdown-panel .ng-star-inserted .ng-select-top {
  opacity: 1 !important;
  background-color: white !important;
  padding-left: 10px !important;
  border-style: groove !important;
  margin-top: 5px !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  height: 3rem;
  padding: 0 10px;
}

.form-floating > label {
  margin-bottom: 0px;
  position: absolute;
  top: -22px;
  left: 0;
  height: auto;
  width: -webkit-fill-available;
  padding: 0rem 0.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  background-color: #f8f8f8;
  font-size: 13px;
  color: #0738bc;
}

.ng-select .ng-select-container .ng-value-container .ng-input > input {
  padding-left: 10px !important;
}

.btnclassa {
  width: 11rem;
  opacity: 0.9;
  border-radius: 1rem;
  height: 4rem;
  justify-items: center;
  align-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 600 !important;
  color: white !important;
  background-color: red !important;
  transform: scale(0.9);
  transition: 0.5s;
}

.btnclass2a {
  width: 11rem;
  opacity: 0.9;
  border-radius: 1rem;
  height: 4rem;
  justify-items: center;
  align-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 600 !important;
  color: white !important;
  background-color: #828282 !important;
  transform: scale(0.9);
  transition: 0.5s;
}

.product__card--thumbnail__link:hover {
  opacity: 1 !important;
  visibility: visible !important;
  bottom: 50% !important;
}
