<!-- Start preloader -->
<div id="preloader" #preloader>
    <div id="ctn-preloader" class="ctn-preloader">
        <div class="animation-preloader">
            <div class="spinner"></div>
            <div class="txt-loading">
                <span data-text-preloader="C" class="letters-loading">
                    C
                </span>

                <span data-text-preloader="A" class="letters-loading">
                    A
                </span>

                <span data-text-preloader="R" class="letters-loading">
                    R
                </span>

                <span data-text-preloader="G" class="letters-loading">
                    G
                </span>

                <span data-text-preloader="A" class="letters-loading">
                    A
                </span>

                <span data-text-preloader="N" class="letters-loading">
                    N
                </span>

                <span data-text-preloader="D" class="letters-loading">
                    D
                </span>

                <span data-text-preloader="O" class="letters-loading">
                    O
                </span>
            </div>
        </div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
</div>
<!-- End preloader -->
<app-header></app-header>

<main class="main__content_wrapper">

    <!-- Start breadcrumb section -->
    <section class="breadcrumb__section breadcrumb__bg">
        <div class="container">
            <div class="row row-cols-1">
                <div class="col">
                    <div class="breadcrumb__content text-center">
                        <ul class="breadcrumb__content--menu d-flex justify-content-center">
                            <li class="breadcrumb__content--menu__items">
                                <a [routerLink]="['/home']">Pagina Principal</a>
                            </li>
                            <li class="breadcrumb__content--menu__items">
                                <span>Cotización</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End breadcrumb section -->

    <!-- Start checkout page area -->
    <div class="checkout__page--area section--padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6">
                    <div class="main checkout__mian">
                        <div class="checkout__content--step section__contact--information">
                            <div
                                class="section__header checkout__section--header d-flex align-items-center justify-content-between mb-25">
                                <h2 class="section__header--title h3">Información del contacto</h2>
                                <p class="layout__flex--item">
                                    ¿Ya tienes una cuenta?
                                    <a class="layout__flex--item__link">
                                        Acceso
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="checkout__content--step mb-20">
                            <div class="section__shipping--address__content">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-10">
                                        <div class="checkout__input--list ">
                                            <label class="checkout__input--label mb-2" for="input1">
                                                Nombre
                                            </label>
                                            <span class="checkout__input--label__star">*</span>
                                            <input class="checkout__input--field border-radius-5"
                                                [(ngModel)]="txtnombre" placeholder="Nombre completo" id="input1"
                                                type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-10">
                                        <div class="checkout__input--list">
                                            <label class="checkout__input--label mb-2" for="input2">
                                                Apellidos
                                            </label>
                                            <input class="checkout__input--field border-radius-5"
                                                [(ngModel)]="txtapellido" placeholder="Apellido Paterno y Materno"
                                                id="input2" type="text">
                                        </div>
                                    </div>
                                    <div class="col-12 mb-10">
                                        <div class="checkout__input--list">
                                            <label class="checkout__input--label mb-2" for="input4">
                                                Número de Teléfono
                                                <span class="checkout__input--label__star">*</span>
                                            </label>
                                            <input class="checkout__input--field border-radius-5" placeholder="celular"
                                                id="input4" type="text" [(ngModel)]="txtcelular">
                                        </div>
                                    </div>
                                    <div class="col-12 mb-10">
                                        <div class="checkout__input--list">
                                            <label class="checkout__input--label mb-2" for="input5">
                                                Correo
                                                <span class="checkout__input--label__star">*</span>
                                            </label>
                                            <input class="checkout__input--field border-radius-5"
                                                [(ngModel)]="txtcorreo" placeholder="Correo Electronico" id="input5"
                                                type="text">
                                        </div>
                                    </div>
                                    <div class="col-12 mb-10">
                                        <div class="checkout__input--list">
                                            <label class="checkout__input--label mb-2" for="order">
                                                Mensaje
                                            </label>
                                            <textarea class="checkout__notes--textarea__field border-radius-5"
                                                id="order" placeholder="mensaje del cliente" [(ngModel)]="txtmensaje"
                                                spellcheck="false"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 mb-10">
                                        <div class="checkout__input--list">
                                            <label class="checkout__input--label mb-2" for="countryc">
                                                Departamento
                                            </label>
                                            <div class="checkout__input--select select">
                                                <select class="checkout__input--select__field border-radius-5"
                                                    id="countryc" (click)="listarProvincia()"
                                                    [(ngModel)]="departamento_id" name="departamento">
                                                    <option class="seleccion" value="0">
                                                        Seleccione Departamento
                                                    </option>
                                                    <option [ngValue]="departamento.departamento_id"
                                                        *ngFor="let departamento of listDepartamento">
                                                        {{departamento.nombre}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 mb-10">
                                        <div class="checkout__input--list">
                                            <label class="checkout__input--label mb-2" for="countryb">
                                                Provincia
                                            </label>
                                            <div class="checkout__input--select select">
                                                <select class="checkout__input--select__field border-radius-5"
                                                    id="countryb" (click)="listarDistrito()" [(ngModel)]="provincia_id"
                                                    name="provincia">
                                                    <option class="seleccion" value="0">
                                                        Seleccione Provincia
                                                    </option>
                                                    <option [ngValue]="provincia.provincia_id"
                                                        *ngFor="let provincia of listProvincia">
                                                        {{provincia.nombre}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 mb-10">
                                        <div class="checkout__input--list">
                                            <label class="checkout__input--label mb-2" for="countrya">
                                                Distrito
                                            </label>
                                            <div class="checkout__input--select select">
                                                <select class="checkout__input--select__field border-radius-5"
                                                    id="countrya" [(ngModel)]="distrito_id" name="distrito">
                                                    <option class="seleccion" value="0">
                                                        Seleccione Distrito
                                                    </option>
                                                    <option [ngValue]="distrito.distrito_id"
                                                        *ngFor="let distrito of listDistrito">
                                                        {{distrito.nombre}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="display: flex">
                                        <input id="checkbox2" type="checkbox" value="second_checkbox"
                                            style="margin-right: 10px;" [(ngModel)]="blnProducto"
                                            (change)="AnclarDeAcuerdo()">
                                        <label for="checkbox2">
                                            Estoy de acuerdo con los producto Seleccionados
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="checkout__content--step__footer d-flex align-items-center">
                            <button type="button" class="continue__shipping--btn primary__btn
                                    border-radius-5" (click)="EnviarCoti()">
                                Enviar cotización
                            </button>
                            <a class="previous__link--content" [routerLink]="['/home']">
                                Volver al inicio
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 minicart__product">
                    <aside class="checkout__sidebar sidebar border-radius-10">
                        <h2 class="checkout__order--summary__title text-center mb-15">Resumen de pedido</h2>
                        <div class="cart__table checkout__product--table">
                            <table class="cart__table--inner">
                                <tbody class="cart__table--body" *ngFor="let item of ListCarrito">
                                    <tr class="cart__table--body__items">
                                        <td class="cart__table--body__list">
                                            <div class="product__image two  d-flex align-items-center">
                                                <div class="border-radius-5" style="border: 1px solid var(--border-color);
                                                    position: relative;line-height: 1;">
                                                    <a class="display-block">
                                                        <img [src]="item.pathimagen === '' ? srcimg :txtlink + item.pathimagen"
                                                            alt="product-media-img" [ngClass]="{classimglleno: item.pathimagen !== '',
                                                            classimgvacio: item.pathimagen === '',
                                                            }" alt="prduct-img" class="display-block border-radius-5">
                                                    </a>
                                                    <span class="product__thumbnail--quantity">{{item.cantidad}}</span>
                                                </div>
                                                <div class="product__description">
                                                    <h4 class="product__description--name">
                                                        <a>
                                                            {{item.marcaoriginal}}
                                                        </a>
                                                    </h4>
                                                    <span class="product__description--variant" *ngIf="item.categoria"
                                                        style="padding-right: 5px;">
                                                        <b>Categoria: </b>
                                                        {{item.categoria}},
                                                    </span>
                                                    <span class="product__description--variant" *ngIf="item.marca"
                                                        style="padding-right: 5px;">
                                                        <b> Marca: </b>
                                                        {{item.marca}},
                                                    </span>
                                                    <span class="product__description--variant" *ngIf="item.medida"
                                                        style="padding-right: 5px;">
                                                        <b> Medida: </b>
                                                        {{item.medida}},
                                                    </span>
                                                    <span class="product__description--variant" *ngIf="item.modelo">
                                                        <b> Modelo: </b>
                                                        {{item.modelo}}
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </aside>
                </div>

            </div>
        </div>
    </div>
    <!-- End checkout page area -->




    <button id="scroll__top" [class.active]="isVisible" (click)="subir()">
        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
                d="M112 244l144-144 144 144M256 120v292"></path>
        </svg>
    </button>
</main>

<app-footer></app-footer>