<!-- Start preloader -->
<div id="preloader" #preloader>
    <div id="ctn-preloader" class="ctn-preloader">
        <div class="animation-preloader">
            <div class="spinner"></div>
            <div class="txt-loading">
                <span data-text-preloader="C" class="letters-loading">
                    C
                </span>

                <span data-text-preloader="A" class="letters-loading">
                    A
                </span>

                <span data-text-preloader="R" class="letters-loading">
                    R
                </span>

                <span data-text-preloader="G" class="letters-loading">
                    G
                </span>

                <span data-text-preloader="A" class="letters-loading">
                    A
                </span>

                <span data-text-preloader="N" class="letters-loading">
                    N
                </span>

                <span data-text-preloader="D" class="letters-loading">
                    D
                </span>

                <span data-text-preloader="O" class="letters-loading">
                    O
                </span>
            </div>
        </div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
</div>
<!-- End preloader -->
 <app-header></app-header>
<p>categoria works!</p>
<app-footer></app-footer>