<header class="header__section">
    <div class="main__header">
        <div class="container-fluid">
            <div class="main__header--inner position__relative d-flex justify-content-between align-items-center">
                <div class="main__logo">
                    <h1 class="main__logo--title"><a class="main__logo--link" [routerLink]="['/home']">
                            <img class="main__logo--img" src="../../assets/img/logo/TECNIMOTORS_JES-2.png"
                                alt="logo-img">
                        </a>
                    </h1>
                </div>
                <div class="header__search--widget d-none d-lg-block header__sticky--none">
                    <form class="d-flex header__search--form border-radius-5" action="#">
                        <div class="header__search--box">
                            <label>
                                <input class="header__search--input" placeholder="Busca un articulo tecnimotors"
                                    type="text">
                            </label>
                            <button class="header__search--button bg__primary text-white" aria-label="search button"
                                type="submit">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M15.6952 14.4991L11.7663 10.5588C12.7765 9.4008 13.33 7.94381 13.33 6.42703C13.33 2.88322 10.34 0 6.66499 0C2.98997 0 0 2.88322 0 6.42703C0 9.97085 2.98997 12.8541 6.66499 12.8541C8.04464 12.8541 9.35938 12.4528 10.4834 11.6911L14.4422 15.6613C14.6076 15.827 14.8302 15.9184 15.0687 15.9184C15.2944 15.9184 15.5086 15.8354 15.6711 15.6845C16.0166 15.364 16.0276 14.8325 15.6952 14.4991ZM6.66499 1.67662C9.38141 1.67662 11.5913 3.8076 11.5913 6.42703C11.5913 9.04647 9.38141 11.1775 6.66499 11.1775C3.94857 11.1775 1.73869 9.04647 1.73869 6.42703C1.73869 3.8076 3.94857 1.67662 6.66499 1.67662Z"
                                        fill="currentColor" />
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>

                <div class="header__account">
                    <ul class="header__account--wrapper d-flex align-items-center">
                        <li class="header__account--items d-none d-lg-block">
                            <a class="header__account--btn" [routerLink]="['/']">
                                <p>Contacto WhatsApp</p>
                                <span class="visually-hidden">Mi Cuenta</span>
                            </a>
                        </li>
                        <li class="header__account--items d-none d-lg-block">
                            <a class="header__account--btn" [routerLink]="['/login']">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class=" -user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                                <span class="visually-hidden">Mi Cuenta</span>
                            </a>
                        </li>
                        <li class="header__account--items d-none d-lg-block">
                            <a class="header__account--btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class=" -heart">
                                    <path
                                        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                    </path>
                                </svg>
                                <span class="items__count">3</span>
                            </a>
                        </li>
                        <li class="header__account--items header__minicart--items">
                            <a class="header__account--btn minicart__open--btn" href="javascript:void(0)"
                                (click)="abrirCarrito()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22.706" height="22.534"
                                    viewBox="0 0 14.706 13.534">
                                    <g transform="translate(0 0)">
                                        <g>
                                            <path data-name="Path 16787"
                                                d="M4.738,472.271h7.814a.434.434,0,0,0,.414-.328l1.723-6.316a.466.466,0,0,0-.071-.4.424.424,0,0,0-.344-.179H3.745L3.437,463.6a.435.435,0,0,0-.421-.353H.431a.451.451,0,0,0,0,.9h2.24c.054.257,1.474,6.946,1.555,7.33a1.36,1.36,0,0,0-.779,1.242,1.326,1.326,0,0,0,1.293,1.354h7.812a.452.452,0,0,0,0-.9H4.74a.451.451,0,0,1,0-.9Zm8.966-6.317-1.477,5.414H5.085l-1.149-5.414Z"
                                                transform="translate(0 -463.248)" fill="currentColor" />
                                            <path data-name="Path 16788"
                                                d="M5.5,478.8a1.294,1.294,0,1,0,1.293-1.353A1.325,1.325,0,0,0,5.5,478.8Zm1.293-.451a.452.452,0,1,1-.431.451A.442.442,0,0,1,6.793,478.352Z"
                                                transform="translate(-1.191 -466.622)" fill="currentColor" />
                                            <path data-name="Path 16789"
                                                d="M13.273,478.8a1.294,1.294,0,1,0,1.293-1.353A1.325,1.325,0,0,0,13.273,478.8Zm1.293-.451a.452.452,0,1,1-.431.451A.442.442,0,0,1,14.566,478.352Z"
                                                transform="translate(-2.875 -466.622)" fill="currentColor" />
                                        </g>
                                    </g>
                                </svg>
                                <span class="items__count">2</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <style>
        .router-link-active {
            font-weight: bold !important;
            border: #BA191A solid 2px;
            background-color: #ffffff !important;
            color: black !important;
        }

        .router-link-active:hover {
            font-weight: bold !important;
            border: #BA191A solid 2px;
            background-color: #ffffff !important;
            color: black !important;
        }

        .selected {
            background-color: #d5d5d5;
            color: black;
            margin: 0px 0px 0px 0px;
            padding: 10px 0px 10px 0px;
        }
    </style>
    <div class="main__header" style="background-color: #BA191A;padding: 0px;"
        [ngClass]="{'header__sticky': isSticky, 'sticky': isSticky}">
        <div class="container-fluid">
            <div class="main__header--inner position__relative d-flex justify-content-around align-items-center">
                <div class="header__menu style3 d-none d-lg-block">
                    <nav class="header__menu--navigation">
                        <ul class="header__menu--wrapper d-flex">

                            <li class="header__menu--items mega__menu--items">
                                <a class="header__menu--link" [routerLink]="['/home']"
                                    routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }"
                                    style="color: white;font-size: 13px;border-radius: 1rem;">
                                    INICIO
                                </a>

                            </li>
                            <li class="header__menu--items mega__menu--items">
                                <a class="header__menu--link" [routerLink]="['/nosotros']"
                                    routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }"
                                    style="color: white; font-size: 13px; border-radius: 1rem;">
                                    NOSOTROS
                                </a>
                            </li>
                            <li class="header__menu--items">
                                <a class="header__menu--link" style="color: white;font-size: 13px;border-radius: 1rem;">
                                    CATEGORÍA
                                    <svg class="menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12"
                                        height="7.41" viewBox="0 0 12 7.41">
                                        <path d="M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z"
                                            transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7" />
                                    </svg>
                                </a>
                                <ul class="header__sub--menu" style="margin-top: 0px; padding: 0px; border-radius: 0px;
                                    background-color: #E8E6E4; display: block;">
                                    <li class="header__sub--menu__items" *ngFor="let menuItem of motoscycle">
                                        <a class="header__sub--menu__link" (click)="toggleMenuprueba(menuItem)"
                                            [ngClass]="{'selected': menuItem.isSelected}" [style]="menuItem.style">
                                            {{ menuItem.title }}
                                            <svg class="menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg"
                                                width="12" height="7.41" viewBox="0 0 12 7.41">
                                                <path d="M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z"
                                                    transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7" />
                                            </svg>
                                        </a>
                                        <ul class="header__sub--menu" *ngIf="menuItem.isOpen" style="margin-top: 0px;padding: 0px;border-radius: 0px;background-color: #E8E6E4;
                                                    margin-left: 22rem;top: 0px;height: auto;display: block;">
                                            <li class="header__sub--menu__items"
                                                *ngFor="let subItem of menuItem.subtitle">
                                                <a class="header__sub--menu__link"
                                                    [ngClass]="{'selected': subItem.isSelected}"
                                                    (click)="toggleSubMenuprueba(subItem)" [style]="subItem.style">
                                                    {{ subItem.subtitle }}
                                                    <ng-container *ngIf="subItem.subsubtitle2 && 
                                                        subItem.subsubtitle2.length > 0">
                                                        <svg ngif class="menu__arrowdown--icon"
                                                            xmlns="http://www.w3.org/2000/svg" width="12" height="7.41"
                                                            viewBox="0 0 12 7.41">
                                                            <path d="M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z"
                                                                transform="translate(-6 -8.59)" fill="currentColor"
                                                                opacity="0.7" />
                                                        </svg>
                                                    </ng-container>
                                                </a>
                                                <ng-container
                                                    *ngIf="subItem.subsubtitle2 && subItem.subsubtitle2.length > 0">
                                                    <ul class="header__sub--menu" *ngIf="subItem.isOpen"
                                                        style="margin-top: 0px;padding: 0px;border-radius: 0px;background-color: #E8E6E4;margin-left: 22rem;top: 0px;height: auto;display: block;">
                                                        <li class="header__sub--menu__items"
                                                            *ngFor="let subSubItem of subItem.subsubtitle2">
                                                            <a class="header__sub--menu__link"
                                                                [ngClass]="{'selected': subSubItem.isSelected}"
                                                                (click)="toggleSubsubMenuprueba(subSubItem)"
                                                                [style]="subSubItem.style">
                                                                {{ subSubItem.subsubtitle }}
                                                                <ng-container
                                                                    *ngIf="subSubItem.thirdtitle &&  subSubItem.thirdtitle.length > 0">
                                                                    <svg ngif class="menu__arrowdown--icon"
                                                                        xmlns="http://www.w3.org/2000/svg" width="12"
                                                                        height="7.41" viewBox="0 0 12 7.41">
                                                                        <path
                                                                            d="M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z"
                                                                            transform="translate(-6 -8.59)"
                                                                            fill="currentColor" opacity="0.7" />
                                                                    </svg>
                                                                </ng-container>
                                                            </a>
                                                            <ul class="header__sub--menu" *ngIf="subSubItem.isOpen"
                                                                style="margin-top: 0px;padding: 0px;border-radius: 0px;background-color: #E8E6E4;margin-left: 22rem;top: 0px;height: auto;display: block;">
                                                                <li class="header__sub--menu__items"
                                                                    *ngFor="let thirdtitle of subSubItem.thirdtitle">
                                                                    <a class="header__sub--menu__link"
                                                                        [ngClass]="{'selected': thirdtitle.isSelected}"
                                                                        (click)="togglesubmenusegundo(thirdtitle)"
                                                                        [style]="thirdtitle.style">
                                                                        {{ thirdtitle.submenutitle }}
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </ng-container>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class=" header__menu--items mega__menu--items">
                                <a class="header__menu--link" [routerLink]="['/cotizacion']"
                                    routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }"
                                    style="color: white;font-size: 13px;border-radius: 1rem;">
                                    COTIZACIÓN
                                </a>
                            </li>
                            <li class="header__menu--items mega__menu--items">
                                <a class="header__menu--link" [routerLink]="['/mayorista']"
                                    routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }"
                                    style="color: white;font-size: 13px;border-radius: 1rem;">
                                    REGISTRO MAYORISTA
                                </a>
                            </li>
                            <li class="header__menu--items mega__menu--items">
                                <a class="header__menu--link" [routerLink]="['/catalogo']"
                                    routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }"
                                    style="color: white;font-size: 13px;border-radius: 1rem;">
                                    CATÁLOGOS
                                </a>
                            </li>
                            <li class="header__menu--items">
                                <a class="header__menu--link" [routerLink]="['/blog']"
                                    routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }"
                                    style="color: white;font-size: 13px;border-radius: 1rem;">
                                    BLOG
                                    <svg class="menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12"
                                        height="7.41" viewBox="0 0 12 7.41">
                                        <path d="M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z"
                                            transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7" />
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>