<!-- Start preloader -->
<div id="preloader" #preloader>
  <div id="ctn-preloader" class="ctn-preloader">
      <div class="animation-preloader">
          <div class="spinner"></div>
          <div class="txt-loading">
              <span data-text-preloader="C" class="letters-loading">
                  C
              </span>

              <span data-text-preloader="A" class="letters-loading">
                  A
              </span>

              <span data-text-preloader="R" class="letters-loading">
                  R
              </span>

              <span data-text-preloader="G" class="letters-loading">
                  G
              </span>

              <span data-text-preloader="A" class="letters-loading">
                  A
              </span>

              <span data-text-preloader="N" class="letters-loading">
                  N
              </span>

              <span data-text-preloader="D" class="letters-loading">
                  D
              </span>

              <span data-text-preloader="O" class="letters-loading">
                  O
              </span>
          </div>
      </div>

      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>
</div>
<!-- End preloader -->
<app-header></app-header>
<main class="main__content_wrapper">


  <!-- Start login section  -->
  <div class="login__section section--padding">
    <div class="container">
      <form action="#">
        <div class="login__section--inner">
          <div class="row row-cols-md-2 row-cols-1">
            <div class="col">
              <div class="account__login">
                <div class="account__login--header mb-25">
                  <h2 class="account__login--header__title mb-10">Login</h2>
                  <p class="account__login--header__desc">Login if you area a returning customer.</p>
                </div>
                <div class="account__login--inner">
                  <label>
                    <input class="account__login--input" placeholder="Usuario" [(ngModel)]="username" name="username"
                      required>
                  </label>
                  <label>
                    <input class="account__login--input" placeholder="Password" type="password" [(ngModel)]="password"
                      name="password" required>
                  </label>
                  <div class="account__login--remember__forgot mb-15 d-flex justify-content-between align-items-center">
                    <div class="account__login--remember position__relative">
                      <input class="checkout__checkbox--input" id="check1" type="checkbox">
                      <span class="checkout__checkbox--checkmark"></span>
                      <label class="checkout__checkbox--label login__remember--label" for="check1">
                        Remember me</label>
                    </div>
                    <button class="account__login--forgot" type="submit">Forgot Your Password?</button>
                  </div>
                  <button class="account__login--btn primary__btn" type="submit" (click)="onLogin()">Login</button>
                  <div class="account__login--divide">
                    <span class="account__login--divide__text">OR</span>
                  </div>
                  <div class="account__social d-flex justify-content-center mb-15">
                    <a class="account__social--link facebook" target="_blank"
                      href="https://www.facebook.com">Facebook</a>
                    <a class="account__social--link google" target="_blank" href="https://www.google.com">Google</a>
                    <a class="account__social--link twitter" target="_blank" href="https://twitter.com">Twitter</a>
                  </div>
                  <p class="account__login--signup__text">Don,t Have an Account? <button type="submit">Sign up
                      now</button></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="account__login register">
                <div class="account__login--header mb-25">
                  <h2 class="account__login--header__title mb-10">Create an Account</h2>
                  <p class="account__login--header__desc">Register here if you are a new customer</p>
                </div>
                <div class="account__login--inner">
                  <label>
                    <input class="account__login--input" placeholder="Username" type="text">
                  </label>
                  <label>
                    <input class="account__login--input" placeholder="Email Addres" type="email">
                  </label>
                  <label>
                    <input class="account__login--input" placeholder="Password" type="password">
                  </label>
                  <label>
                    <input class="account__login--input" placeholder="Confirm Password" type="password">
                  </label>
                  <button class="account__login--btn primary__btn mb-10" type="submit">Submit & Register</button>
                  <div class="account__login--remember position__relative">
                    <input class="checkout__checkbox--input" id="check2" type="checkbox">
                    <span class="checkout__checkbox--checkmark"></span>
                    <label class="checkout__checkbox--label login__remember--label" for="check2">
                      I have read and agree to the terms & conditions</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- End login section  -->

  <!-- Start shipping section -->
  <section class="shipping__section">
    <div class="container">
      <div class="shipping__inner style2 d-flex">
        <div class="shipping__items style2 d-flex align-items-center">
          <div class="shipping__icon">
            <img src="assets/img/other/shipping1.webp" alt="icon-img">
          </div>
          <div class="shipping__content">
            <h2 class="shipping__content--title h3">Free Shipping</h2>
            <p class="shipping__content--desc">Free shipping over $100</p>
          </div>
        </div>
        <div class="shipping__items style2 d-flex align-items-center">
          <div class="shipping__icon">
            <img src="assets/img/other/shipping2.webp" alt="icon-img">
          </div>
          <div class="shipping__content">
            <h2 class="shipping__content--title h3">Support 24/7</h2>
            <p class="shipping__content--desc">Contact us 24 hours a day</p>
          </div>
        </div>
        <div class="shipping__items style2 d-flex align-items-center">
          <div class="shipping__icon">
            <img src="assets/img/other/shipping3.webp" alt="icon-img">
          </div>
          <div class="shipping__content">
            <h2 class="shipping__content--title h3">100% Money Back</h2>
            <p class="shipping__content--desc">You have 30 days to Return</p>
          </div>
        </div>
        <div class="shipping__items style2 d-flex align-items-center">
          <div class="shipping__icon">
            <img src="assets/img/other/shipping4.webp" alt="icon-img">
          </div>
          <div class="shipping__content">
            <h2 class="shipping__content--title h3">Payment Secure</h2>
            <p class="shipping__content--desc">We ensure secure payment</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End shipping section -->

</main>
<app-footer></app-footer>