.labeltitle {
  margin-top: 10px;
  width: 28rem;
  display: inline-block;
  overflow-wrap: break-word;
  text-transform: uppercase;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.labelDetalle {
  display: flex;
  font-weight: 700;
  align-items: center;
}
